*{
    padding: 0;
    margin: 0;
}

.logo_register{
    width: 80px;
}

.logo_container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container > p{
    border-bottom: 1px solid #103946;
    color: transparent;
    margin: 0px 20px 0px 20px;
}

.login_form{
    top: 31%;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: #ffffff77;
}
.arregment{
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px
}

form > h1{
    margin: 10px 10px 0px 10px;
    font-size: 30px
}

.login{
    display: flex;
    justify-content:center;
    height: fit-content;
}

.login > form > input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    /* color: black; */
    margin: 0.5rem 0;
    padding: 10px 0px 10px 0px;
    width: 60%;
    font-size: 1rem;
    display: flex;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.btn-login{
    background-color: #103946;
    border: 1px solid #103946;
    margin-top: 10px;
    /* margin-bottom: 20px */
}

.login-a{
    color: #000;
    padding: 10px 0px 10px 0px;
}

.login-a:hover{
    color: #fff;
    padding: 10px 0px 10px 0px;
}

::placeholder{
    color: #00000077
}

.login > img{
    width: 100%;
    position: relative;
    opacity: 0.8
}

@media only screen and (max-width: 991px) {
    .login> img{
        width: 100%;
        opacity: 0;
        position: absolute
    }
    .login_form{
        /* top: 32%; */
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        background-color: #ffffff77;
    }
    .login-a:hover{
        color: #103946bb;
    }
}

/* .btn-primary{
    color: pink;
    border: 1px solid red;
    margin: 0px 20px 20px 0px;
} */