
.navbar_swan{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #013946;
  color: #f0ffff;
  padding: 10px;
}

.navbar_swan a:hover{
  color: #C8D9D9;
}

.product_img{
  width: auto;
  height: 400px;
}

@media only screen and (max-width: 480px){
  .product_img{
    width: auto;
    height: 300px;
  }
}

.product_table{
  display: flex;
  align-items: center;
  background-color: yellow;
}

.img_title{
  display: block;
  text-align: center;
  background-color: pink;
}

